body {
    font-family: Arial, sans-serif;
    background-image: url(./image-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: transparent;
    border: 5px solid black;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    text-align: center;
}


#check {
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgba(0, 0, 255, 0.123);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#inputPassword {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
}

.container:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: white;
}
